nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  background: #000000c4;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  color: #fff;
}
.nav-container.hamburger-active {
  display: block;
}
.left-side,
.right-side {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right-side {
  min-height: 0;
  transition: 0.3s;
}
.home,
.documentation,
.login,
.dashboard,
.logout {
  cursor: pointer;
  padding: 0.8em;
  border-bottom: 3px solid transparent;
  transition: background-color 0.3s;
}
.home:hover,
.documentation:hover,
.login:hover,
.dashboard:hover,
.logout:hover {
  background: #888888c4;
}
.home.active,
.documentation.active,
.login.active,
.dashboard.active {
  border-bottom: 3px solid var(--basis-red);
}
.right-side.hamburger-active {
  flex-direction: column;
  min-height: 15em;
  padding-top: 4em;
  margin-bottom: 3em;
}

.dashboard.hamburger-active,
.login.hamburger-active,
.logout.hamburger-active,
.documentation.hamburger-active {
  display: block;
  font-size: 1.1em;
  min-width: 180px;
  padding: 0.625em;
}
.dashboard.active.hamburger-active,
.login.active.hamburger-active,
.logout.active.hamburger-active,
.documentation.active.hamburger-active {
  border-bottom: 3px solid transparent;
  border-left: 3px solid var(--basis-red);
}

.btn-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7em;
}
.nav-toggler {
  display: none;
  width: 3em;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.625em;
  padding-bottom: 0.5em;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.nav-toggler .line {
  display: none;
  width: 100%;
  height: 0.15rem;
  background: #f1f1f1;
  transition: 0.3s ease-out;
}
.l1 {
  transform: translateY(-7px);
}
.l3 {
  transform: translateY(7px);
}
.nav-toggler.active .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.active .l2 {
  animation: moveLeft 0.4s forwards;
}
.nav-toggler.active .l3 {
  transform: translateY(-5px) rotate(-135deg);
}
@keyframes moveLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .nav-container {
    display: block;
  }
  .nav-toggler {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .nav-toggler .line {
    display: block;
  }
  .dashboard,
  .login,
  .logout,
  .documentation {
    display: none;
  }
}
