.footer-container {
  min-height: 150px;
  background: #000;
  padding: 0.625em;
  color: #fff;
  display: grid;
  grid-template-rows: min-content auto;
  /* border-top: 1px solid;
  background: linear-gradient(to right, #b00000, #000000); */
}
.date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3em;
}
.footer-container p {
  font-size: 0.8em;
}
.code {
  align-self: flex-end;
  margin: 0 auto;
}
