<footer>
  <div class="footer-container">
    <div class="date">
      <i class="fa-solid fa-copyright"></i>
      <p>May 2023</p>
    </div>
    <div class="contact">
      <a
        href="https://manuclaeys.com/portfolio"
        target="_blank"
        class="portfolio"
        >manuclaeys.com</a
      >
      <a
        href="https://www.linkedin.com/in/manu-claeys-3195a87b/"
        target="_blank"
        class="linkedin"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="made">
      <p>Front-End fired with Angular, Back-End with NodeJS and MongoDB</p>
    </div>
  </div>
</footer>
