.footer-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 150px;
  background: #000;
  padding: 0.625em;
  color: #fff;
}
.date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3em;
}
.footer-container p {
  font-size: 0.8em;
}
.made {
  align-self: flex-end;
  margin: 0 auto;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  align-self: flex-end;
  margin-bottom: 0.4em;
}
.contact a.portfolio {
  font-size: 1.1em;
  color: var(--basis-red);
}
.contact a.linkedin {
  font-size: 1.4em;
  color: white;
}
