.accordion-routes {
  margin-top: 2em;
}
.accordion-routes header hr {
  background: #004e82;
  height: 3px;
}
.accordion-routes .title {
  color: #3874a8;
  font-weight: bold;
  font-size: 1.1em;
}
.accordion-routes .date {
  color: var(--primary-color-4);
  margin-top: 0.5em;
  font-size: 0.9em;
}
.accordion-routes .content {
  text-align: justify;
  line-height: 1.3;
}
.accordion-routes .content p {
  margin-bottom: 1em;
}

.route-container .title {
  font-size: 1.1em;
  color: var(--basis-light-grey);
  text-transform: uppercase;
  margin-bottom: 0.3em;
}
.route-container hr {
  display: block;
  background: #e4e4e4;
  border: none;
  height: 0.08rem;
}
.arguments {
  margin-top: 1em;
}
.argument {
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  text-align: right;
  padding: 0.7em 0;
}
.name,
.definition {
  flex: 50%;
}
.name {
  text-align: right;
}
.definition {
  text-align: left;
}
.definition p {
  word-break: break-word;
}
.argument .arg {
  font-weight: 600;
}
.argument .caracter {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: var(--basis-light-grey);
  text-transform: lowercase;
}
.argument .caracter.required {
  font-weight: 600;
  color: var(--basis-red);
}

.tabs {
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px rgb(213 213 213 / 83%);
  border: 1px solid transparent;
}
.accordion-routes .tab {
  overflow: hidden;
}
.tab input {
  display: none;
}
.tab label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color-1);
  cursor: pointer;
  background: var(--primary-color-2);
  transition: all 0.3s ease-out;
}
.label-titel p {
  display: flex;
  align-items: center;
}
.tab .verb {
  padding: 0.8em;
  background: var(--basis-red);
  display: block;
  color: white;
}
.tab .emphasize {
  font-weight: 700;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab .emphasize,
.tab .description {
  padding: 0.8em;
}
.tab .description {
  font-size: 0.9em;
  display: none;
}
.tab label::after {
  content: "❯";
  margin-right: 1em;
  display: block;
  transition: all 0.3s ease-out;
  font-weight: 600;
}
.tab-content {
  max-height: 0;
  padding: 0 0.625em;
  background: white;
  transition: all 0.3s ease-out;
}
input:checked ~ .tab-content {
  max-height: 360px;
  padding: 0.625em;
}
input:checked#item-2 ~ .tab-content {
  max-height: 750px;
}
input:checked#item-3 ~ .tab-content {
  max-height: 500px;
}
input:checked#item-4 ~ .tab-content {
  max-height: 540px;
}
input:checked#item-5 ~ .tab-content {
  max-height: 900px;
}
input:checked + label::after {
  transform: rotate(90deg);
}
@media (min-width: 380px) {
  .tab .emphasize {
    font-weight: 700;
    width: auto;
    overflow: visible;
    text-overflow: initial;
  }
}
@media (min-width: 700px) {
  .tab .description {
    display: block;
  }
}
