.top-intro {
  position: relative;
  background: url(../../assets/pictures/doc.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.text-intro {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.documentation {
  padding: 0.625em;
  max-width: 1000px;
  margin: auto;
}
.text-intro-doc {
  margin-top: 1em;
}
.text-intro-doc p {
  text-align: justify;
}
.emphasize {
  color: var(--basis-red);
  font-weight: 600;
}
.code-container {
  margin-top: 1em;
  background: #000;
  color: white;
  padding: 1em;
  font-weight: 600;
  border-radius: 0.5em;
}
.code-container p {
  word-break: break-word;
}

.routes-container,
.response {
  margin: 5em 0;
}

/* RESPONSE */
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.category-title {
  margin-bottom: 0.5em;
}
table tr {
  padding: 0.35em;
}
.response tbody tr {
  height: 63px;
}
table th,
table td {
  padding: 0.625em;
  text-align: center;
  word-wrap: break-word;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: var(--basis-red);
  color: white;
  padding: 0.8em;
}
tbody tr:nth-child(odd) {
  background: #e3e3e3;
}
.response p {
  margin-top: 0.5em;
}
.example .code-container {
  margin-top: 0;
}
.example .code-container p:not(:last-child) {
  margin-bottom: 0.3em;
}
.example .code-container span.top {
  display: inline-block;
  margin-top: 0.2em;
}
.example .code-container span {
  display: inline-block;
  margin-bottom: 0.2em;
}
.example .purple {
  color: #c200c2;
}
.example .yellow {
  color: #e2e200;
}
.example .blue {
  color: #008fd9;
}
.note {
  margin-top: 0.5em;
}
.nota-bene {
  margin-top: 3em;
}
.note p,
.nota-bene p {
  text-align: justify;
}
.emphasize-note {
  font-weight: 600;
}

.navigation {
  margin-top: 10em;
}
@media (max-width: 700px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
    box-shadow: 0px 1px 3px 0px #7e7e7eb0;
    border: none;
  }
  .response tbody tr {
    height: auto;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    text-align: right;
  }

  table td span {
    word-break: break-all;
  }

  table td::before {
    content: attr(data-label);
    min-width: 40%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: var(--basis-red);
  }

  table td:last-child {
    border-bottom: 0;
  }

  .response tbody tr:first-child,
  .response tbody tr:last-child {
    height: auto;
  }

  tbody tr:nth-child(odd) {
    background: white;
  }
}
