<div class="page-container">
  <div class="not-found-container">
    <div class="title-container">
      <h2>The requested ressource has not been found.</h2>
      <p>
        ...but you still got a nice picture to see (look at what is written on
        top of the front window)
      </p>
      <div class="img-container">
        <img
          src="../../assets/pictures/not-found.jpg"
          alt="Red classical Porsche"
        />
      </div>
    </div>
  </div>
  <div class="nav-container">
    <app-navigation [navigation]="navigation"></app-navigation>
  </div>
</div>
<app-footer></app-footer>
