.login-page {
  position: relative;
  background: url(../../assets/pictures/Old_Timer.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.form-container {
  position: absolute;
  display: grid;
  grid-template-rows: auto min-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 350px;
  border-radius: 0.3em;
  box-shadow: 0px 2px 14px 3px rgb(0 0 0 / 71%);
  background: #000000b3;
  padding: 0.625em;
  height: 300px;
  transition: height 0.3s;
}
.form-container.expanded {
  height: 345px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.form-container input {
  font-size: 1em;
  display: block;
  border: none;
  outline: none;
  padding: 0 0 0.3em 1.6em;
  border-bottom: 1px solid rgb(193 193 193);
  background: none;
  color: white;
}
.submit {
  margin-bottom: 1.5em;
}
button.login {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border: none;
  padding: 0.6em 1.8em;
  border-radius: 1.2em;
  color: white;
  background: var(--basis-red);
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 71%);
  margin: auto;
  min-width: 120px;
  transition: opacity 0.3s;
}
button.login:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
button i {
  display: block;
  font-size: 1.1em;
}

.underline {
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
.user,
.password {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1.5em 0;
}
.user {
  margin-top: 3.5em;
}

.input-controls i {
  position: absolute;
  top: 3px;
  left: 52px;
  font-size: 0.9em;
}
::placeholder {
  color: rgb(102, 107, 122);
}

.sign-choice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.2em;
}
.error {
  position: absolute;
  width: 100%;
  padding-top: 4.5em;
}
.error i {
  margin-right: 0.5em;
  color: var(--basis-red);
}
.error p {
  max-width: 320px;
  margin: auto;
  text-align: center;
  padding: 0.5em;
  background: #000000b3;
  color: white;
  box-shadow: 0px 2px 7px 0px rgb(0 0 0);
  font-weight: 600;
  border-radius: 0.3em;
}
