<div class="landing-container">
  <div class="car-container">
    <div class="main-text-car">
      <h2>Your API for sports car from 1950 to 2010!</h2>
    </div>
  </div>
  <section class="introduction-api">
    <div class="intro-text">
      <h4>Fasten your seat belt</h4>
      <p>
        Discover more about historical sports car with data from the years 1950
        to 2010 easely with an REST API in JSON format.
        <span class="emphasize">Use it for free!</span>
      </p>
    </div>
    <div class="github-container">
      <div class="github">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/GreenFlag31/car-api" target="_blank"
          >Github</a
        >
      </div>
    </div>
  </section>
  <section class="card-cars-container">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-front">
          <img
            src="../../assets/pictures/1964-ford-mustang.jpg"
            alt="Ford Mustang 1964"
            title="Ford Mustang 1964"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Ford Mustang 1964</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>271 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>V8</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>210 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>1 340 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img src="../../assets/pictures/US.png" alt="Flag of USA" />
              </div>
            </div>
          </div>
        </div>

        <div class="card-back">
          <img
            src="../../assets/pictures/Bmw 2002 Turbo 1973.jpg"
            alt="Bmw 2002 Turbo 1973"
            title="Bmw 2002 Turbo 1973"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Bmw 2002 Turbo 1973</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>170 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>M10 turbocharged</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>211 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>1 130 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img
                  src="../../assets/pictures/Germany.png"
                  alt="Flag of Germany"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="card-front">
          <img
            src="../../assets/pictures/Porsche 911 1973.jpg"
            alt="Porsche 911 1973"
            title="Porsche 911 1973"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Porsche 911 1973</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>210 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>MFI flat-six</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>240 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>975 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img
                  src="../../assets/pictures/Germany.png"
                  alt="Flag of Germany"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="card-back">
          <img
            src="../../assets/pictures/Ferrari 250 GTO 1962.jpg"
            alt="Ferrari 250 GTO 1962"
            title="Ferrari 250 GTO 1962"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Ferrari 250 GTO 1962</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>300 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>V12</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>280 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>1 000 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img
                  src="../../assets/pictures/Italy.png"
                  alt="Flag of Italy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="card-front">
          <img
            src="../../assets/pictures/Ferrari Dino 1972.jpg"
            alt="Ferrari Dino 1972"
            title="Ferrari Dino 1972"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Ferrari Dino 1972</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>195 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>V6</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>240 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>1 080 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img
                  src="../../assets/pictures/Italy.png"
                  alt="Flag of Italy"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="card-back">
          <img
            src="../../assets/pictures/Audi R8 Quattro 2008.jpg"
            alt="Audi R8 Quattro 2008"
            title="Audi R8 Quattro 2008"
          />
          <div class="card-content">
            <div class="title-card">
              <h4>Audi R8 Quattro 2008</h4>
            </div>
            <div class="caracteristics">
              <div class="power caracteristic">
                <p>Power:</p>
                <p>420 hp</p>
              </div>
              <div class="type caracteristic">
                <p>Engine Type:</p>
                <p>V8</p>
              </div>
              <div class="top-speed caracteristic">
                <p>Top Speed:</p>
                <p>301 km/h</p>
              </div>
              <div class="weight caracteristic">
                <p>Weight:</p>
                <p>1 560 kg</p>
              </div>
              <div class="origin caracteristic">
                <p>Origin:</p>
                <img
                  src="../../assets/pictures/Germany.png"
                  alt="Flag of Germany"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="plan">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1440 80"
      xmlns="http://www.w3.org/2000/svg"
      class="wave"
    >
      <defs>
        <linearGradient id="header-shape-gradient">
          <stop offset="0%" stop-color="var(--color-stop)"></stop>
          <stop offset="100%" stop-color="var(--color-bot)"></stop>
        </linearGradient>
      </defs>
      <path
        d="M0 80V18.0975C0 18.0975 294 -22.6218 720 18.0975C1146 58.8167 1440 18.0975 1440 18.0975V80H0Z"
        fill="url(#header-shape-gradient)"
      ></path>
    </svg>
    <div class="plan-container">
      <a routerLink="/login" class="plan-card">
        <h2>Free</h2>
        <div class="price">
          <p>€<span>0</span>/month</p>
          <hr />
        </div>
        <div class="plan-content">
          <div class="plan-caracteristics">
            <div class="free">
              <i class="fa-solid fa-circle-check"></i>
              <p>Free access</p>
            </div>
            <div class="email">
              <i class="fa-solid fa-circle-check"></i>
              <p>No email validation</p>
            </div>
            <div class="useful">
              <i class="fa-solid fa-circle-check"></i>
              <p>Useful to learn or discover more</p>
            </div>
            <div class="commercial">
              <i class="fa-solid fa-circle-xmark"></i>
              <p>No commercial use</p>
            </div>
          </div>
          <hr />
          <div class="max-calls">
            <div class="quota">
              <span>200</span>
              <p>API calls per month</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
</div>
<app-footer></app-footer>
