<div class="dashboard-container">
  <div class="dashboard-intro">
    <div class="dashboard-user-container">
      <div class="dashboard-user" *ngIf="user$ | async as user">
        <h2>Dashboard</h2>
        <div class="dashboard-content">
          <div class="info-request">
            <span class="emphasize">
              Your client ID and api key should be sent along each request in
              POST.
            </span>
            See available endpoints in the documentation.
          </div>
          <div class="client-ID">
            <p class="title-small">Your client ID:</p>
            <div class="key-container">
              <p>{{ user.clientID }}</p>
            </div>
          </div>
          <div class="secret-api-key" *ngIf="user.testAccount || user.api_key">
            <p class="title-small">Your secret api token:</p>
            <div class="key-container">
              <p>{{ user.api_key || testAccountApiKey.api_key }}</p>
            </div>
            <p class="availability" *ngIf="!user.testAccount">
              {{ keyAvailabilityMessage }}
            </p>
          </div>
          <div
            class="new-api-key"
            [ngClass]="{ new: newKeyGenerated }"
            *ngIf="!user.testAccount && !user.api_key"
          >
            <div class="generate-container">
              <p>Generate new key:</p>
              <div class="generate-btn-container">
                <i class="fas fa-circle-notch fa-spin" *ngIf="isLoading"></i>
                <button (click)="generateNewApiKey()" [disabled]="isLoading">
                  Generate
                </button>
              </div>
            </div>
            <div
              class="new-key-generated"
              *ngIf="newKeyGenerated && !isLoading"
            >
              <div class="key-container">
                <p>{{ user.new_api_key }}</p>
              </div>
              <p class="availability">
                {{ keyAvailabilityMessage
                }}<span class="emphasize">
                  Previous key has been disabled.</span
                >
              </p>
            </div>
          </div>
          <div
            class="quota"
            [ngClass]="{
              'space-top': newKeyGenerated,
              bottom: user.testAccount
            }"
          >
            <p>Used queries (month):</p>
            <div class="quota-refresh-container">
              <button (click)="getCurrentQuota()">
                <!-- [disabled]="refreshIsLoading" -->
                Refresh
              </button>
              <p *ngIf="!refreshIsLoading">
                <span class="quota-number">{{ user.quota }}</span
                >/200
              </p>
              <div class="loading-refresh-container" *ngIf="refreshIsLoading">
                <i class="fas fa-circle-notch fa-spin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="img-gallery">
    <img
      src="../../assets/pictures/1964-ford-mustang.jpg"
      alt="Ford Mustand 1964"
      title="Ford Mustand 1964"
    />
    <img
      src="../../assets/pictures/Ferrari Dino 1972.jpg"
      alt="Ferrari Dino 1972"
      title="Ferrari Dino 1972"
    />
    <img
      src="../../assets/pictures/Porsche 911 1973.jpg"
      alt="Porsche 911 1973"
      title="Porsche 911 1973"
    />
    <img
      src="../../assets/pictures/Alfa Romeo 155 1992.jpg"
      alt="Alfa Romeo 155 1992"
      title="Alfa Romeo 155 1992"
    />
    <img
      src="../../assets/pictures/Ferrari 250 GTO 1962.jpg"
      alt="Ferrari 250 1962"
      title="Ferrari 250 1962"
    />
    <img
      src="../../assets/pictures/Shelby cobra 1965.jpg"
      alt="Shelby cobra 1965"
      title="Shelby cobra 1965"
    />
    <img
      src="../../assets/pictures/Maserati GranTurismo 2007.jpg"
      alt="Maserati GranTurismo 2007"
      title="Maserati GranTurismo 2007"
    />
    <img
      src="../../assets/pictures/Toyota Supra 1998.jpg"
      alt="Toyota Supra 1998"
      title="Toyota Supra 1998"
    />
    <img
      src="../../assets/pictures/Bmw 2002 Turbo 1973.jpg"
      alt="Bmw 2002 Turbo 1973"
      title="Bmw 2002 Turbo 1973"
    />
  </div>
</div>
<app-footer></app-footer>
