.dashboard-intro {
  position: relative;
  background: url(../../assets/pictures/rsz_dashboard.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.dashboard-user-container {
  position: absolute;
  top: 75%;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0.625em;
}
.dashboard-user {
  max-width: 800px;
  padding: 1em;
  border-radius: 0.5em;
  background: rgb(255 255 255 / 92%);
  box-shadow: 0px 2px 6px 0px rgb(99 99 99 / 83%);
}
.dashboard-user h2 {
  color: var(--basis-red);
  text-align: center;
}
.img-gallery {
  display: flex;
  flex-wrap: wrap;
}
.img-gallery img {
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
  flex: 33%;
}
.img-gallery img:nth-child(n + 4) {
  display: none;
}
.dashboard-content {
  margin-top: 2em;
}
.title-small,
.availability {
  padding: 0.5em 0;
}

.key-container {
  padding: 0.625em;
  background: #b1b1b1;
  border-radius: 0.3em;
  font-weight: 600;
  color: white;
}
.emphasize {
  font-weight: 600;
}
.generate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4em;
}
.generate-btn-container {
  display: flex;
  align-items: center;
  gap: 2em;
}
.quota-refresh-container i,
.generate-btn-container i {
  font-size: 1.4em;
}
.new-api-key button,
.quota-refresh-container button {
  display: block;
  border: none;
  padding: 0.625em;
  background: var(--basis-red);
  color: white;
  border-radius: 0.3em;
  cursor: pointer;
  transition: opacity 0.3s;
}
.new-api-key button:disabled,
.quota-refresh-container button:disabled {
  opacity: 0.8;
}

.new-api-key {
  margin-top: 5em;
}
.info-request,
.client-ID,
.secret-api-key {
  margin-top: 2em;
}
.quota-refresh-container {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.quota-refresh-container p,
.loading-refresh-container {
  min-width: 100px;
}
.loading-refresh-container {
  display: flex;
  justify-content: center;
}
.quota {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 2em;
  min-height: 38.5px;
}
.quota.bottom {
  margin-top: 5em;
}
.quota.space-top {
  margin-top: 2em;
}
.quota p:last-child {
  font-size: 1.3em;
  font-weight: 600;
  text-align: right;
}
.quota-number {
  color: var(--basis-red);
  font-size: 1.5em;
}

@media (min-width: 650px) {
  .img-gallery img:nth-child(n + 4) {
    display: block;
  }
  .img-gallery img:nth-child(n + 6) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .img-gallery img {
    display: block !important;
  }
}
