.navigation-container {
  display: flex;
  gap: 2em;
  margin: 2em 0;
}
.previous,
.next {
  width: 100%;
}
.text-container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  border: 2px solid var(--basis-red);
  border-radius: 0.6em;
  font-weight: 700;
  padding: 0.625em;
  cursor: pointer;
}
.text-container p {
  transition: transform 0.3s;
  transform: translateX(0);
}

.previous .text-container:hover p {
  transform: translateX(-10%);
}
.next .text-container:hover p {
  transform: translateX(5%);
}
.previous i {
  margin-right: 0.3em;
}
.next i {
  margin-left: 0.3em;
}
@media (min-width: 500px) {
  .previous .text-container p {
    transform: translateX(5%);
  }
  .next .text-container p {
    transform: translateX(-5%);
  }
}
@media (min-width: 800px) {
  .navigate {
    flex-direction: row;
  }
  .previous,
  .next {
    width: 50%;
  }
}
